body
{
  min-height:100%;
  background-image: linear-gradient(to bottom,rgba(0,0,0,.5),rgba(0,0,0,.5)),url(nice.jpg);
  background-size:cover;
  height:100vh;
  background-position: center center;
  background-attachment: fixed;
  overflow:hidden;
  margin: 0px;
  z-index:-1;
}
.container
{
  display:grid;
  grid-template-columns:1fr;
}
.headbar
{
    display:flex;
    justify-content:space-between;
    padding:25px;
}
.leftSide
{
    display:flex;
}
.rightSide
{
    display:flex;
}
.searchBar-wrapper
{
    display:flex;
    margin-left: 20px;
}
.headbar > .rightSide > div
{
  margin-top:35px;
  font-size: 1.3em;
}

.search
{
  background-color:rgba(0,0,0,.5);
  border-style:solid;
  transition: border-color 0.25s;
}
.search:hover{
  border-color: rgba(211, 204, 204, 0.74);
}

.button
{
  background-color: rgba(221, 52, 52, 0.623)
}

.link-wrapper
{
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s; 
  height:33px;
}
.link-wrapper a{
  padding: 20px;
  text-decoration:none;
  color:rgba(211, 204, 204, 0.74);
  transition: color 0.5s;
}

.link-wrapper:hover
{
  border-bottom: 1px solid red;
}

.link-wrapper a:hover
{
   color: white;
}
.miamiLogo
{
    width:100px;
    height:100px;
}
main
{
  display:grid;
  justify-content:center;
}

.course-wrapper
{
  width:400px;
  background-color: rgba(0,0,0,.5);
  display:grid;
  grid-template-columns:1fr;
  grid-template-rows:1fr 200px;
}
.searchBar-wrapper
{

  margin-top: 20px;
  margin:auto
}
.searchBox-wrapper
{
  margin-right:10px;
}
.courseList-wrapper
{
  margin:auto;
  color: rgba(255, 255, 255, 0.863);
}